# This workflow will check if the current repo adheres to the black format

name: Lint

# CINTENT >> MANUAL_TRIGGER
# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  lint:
    # CINTENT >> REMOVE_TRIGGER
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. Without this if check, checks are duplicated since
    # internal PRs match both the push and pull_request events.
    # if:
    #   github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
    #   github.repository

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      # CINTENT >> CHANGE_VERSION
      # - uses: actions/checkout@v2
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3e5b2faf83a2ad32c22a1cd0f86f5f20ea53a5ab

      - name: Black Code Formatter
        uses: lgeiger/black-action@v1.0.1
        with:
          args: ". --check -l 120"

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
